main article::before {
	height: 100%;
}

main article .status {
  display: flex;
  justify-content: flex-end;
}
main article .status span {
  padding: 10px 25px;
  background-color: #0c4da2;
  color: white;
  opacity: 0.5;
}
main article .status span.current_status {
  opacity: 1;
}
main article .status i {
  align-self: center;
  margin: 0 10px;
}
  
  main article .sections {
     }
    main article .sections section {
      position: relative;
      flex: 0 0 100%; }
    main article .sections .info_item p{
      display: flex;
      padding: 5px 0; }
      main article .sections .info_item p span {
        display: block;
        width: 60%;
        margin-left: auto; }
    main article .sections .info_item .person {
      display: flex; }
      main article .sections .info_item .person > * {
        flex-basis: 50%; }
    main article .sections .info_item .refund {
      display: flex; }
      main article .sections .info_item .refund > * {
        flex-basis: 50%; }
    main article .sections .room {
      display: flex;
      justify-content: space-around;
      width: 800px;
      margin: 0 auto; }
      main article .sections .room .room_type {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        width: 150px;
        height: 150px;
        background-color: #ecf0f1; }
        main article .sections .room .room_type.active {
          color: white;
          background-color: #0c4da2; }
        main article .sections .room .room_type p {
          margin: 0;
          font-weight: bold; }
        main article .sections .room .room_type i {
          font-size: 3rem; }
    main article .sections .buttons {
      padding-top: 50px;
      text-align: right; }
      main article .sections .buttons button {
        padding: 10px 20px;
        background-color: #0c4da2;
        border: 0;
        outline: 0;
        color: white;
        cursor: pointer; }
        main article .sections .buttons button:active {
          transform: scale(0.95); }