@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: "Noto Sans KR", sans-serif; }

header {
  display: flex;
  align-items: center;
  padding: 10px 60px;
  background-color: #0c4da2;
  color: white;
  font-size: 1rem;
  height: 80px; }
  header img {
    cursor: pointer;
    margin-right: 50px;
    position: relative;
    top: -10px; }
  header .logged_user_box {
    margin-left: auto;
    display: flex;
    align-items: center; }
    header .logged_user_box a {
      display: block;
      margin-left: 50px; }

main {
  display: flex;
  position: relative; }
  main nav {
    min-width: 270px;
    background-color: #0d54b0;
    color: white;
    height: calc(100vh - 80px); }
    main nav li {
      height: 80px;
      line-height: 80px;
      padding-left: 35px;
      cursor: pointer; }
      main nav li:hover {
        background-color: #0c4da2; }
      main nav li.active {
        background-color: #0c4da2; }
      main nav li i {
        width: 30px;
        margin-right: 10px; }
      main nav li a {
        display: block; }
  main article {
    padding: 30px;
    min-width: 1200px;
    max-width: calc(100vw - 400px);
    margin: 0 auto; }
    main article h3 {
      padding-bottom: 10px;
      border-bottom: 1px solid #0c4da2;
      color: #0c4da2; }
    main article::before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      background-color: #0d54b0;
      width: 270px;
      height: 100%;
      left: 0; }

main .warning_wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
main .warning_wrap i {
	color: #0c4da2;
	font-size: 10rem;
}
main .warning_wrap small {
	font-weight: bold;
	font-size: 1.5rem;
	margin-top: 15px;
}