main article .sections_wrap {
  position: relative;
  overflow: hidden; }
  main article .sections_wrap .sections {
    display: flex;
    transition: all ease 0.3s; }
    main article .sections_wrap .sections section {
      position: relative;
      flex: 0 0 100%; }
    main article .sections_wrap .sections table {
      width: 100%;
      text-align: center;
      border-collapse: collapse; }
      main article .sections_wrap .sections table tr {
        height: 50px;
        line-height: 50px; }
      main article .sections_wrap .sections table thead {
        font-weight: bold;
        background-color: #ecf0f1; }
      main article .sections_wrap .sections table tbody tr {
        cursor: pointer;
        transition: all ease 0.5s; }
        main article .sections_wrap .sections table tbody tr:hover {
          transform: translateY(-2px); }
        main article .sections_wrap .sections table tbody tr:nth-child(2n) {
          background-color: #f9fafb; }
    main article .sections_wrap .sections .info_item + .info_item {
      margin-top: 50px; }
    main article .sections_wrap .sections .info_item p,
    main article .sections_wrap .sections .info_item label {
      display: flex;
      padding: 5px 0; }
      main article .sections_wrap .sections .info_item p span,
      main article .sections_wrap .sections .info_item p input,
      main article .sections_wrap .sections .info_item p select,
      main article .sections_wrap .sections .info_item label span,
      main article .sections_wrap .sections .info_item label input,
      main article .sections_wrap .sections .info_item label select {
        display: block;
        width: 60%;
        margin-left: auto; }
    main article .sections_wrap .sections .info_item .person {
      display: flex; }
      main article .sections_wrap .sections .info_item .person > * {
        flex-basis: 50%; }
    main article .sections_wrap .sections .info_item .refund {
      display: flex; }
      main article .sections_wrap .sections .info_item .refund > * {
        flex-basis: 50%; }
      main article .sections_wrap .sections .info_item .refund .bank select {
        margin-right: 50px;
        padding: 5px; }
      main article .sections_wrap .sections .info_item .refund .account input {
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        padding: 5px;
        outline: 0;
        font-family: inherit;
        font-size: 0.95em; }
    main article .sections_wrap .sections .room {
      display: flex;
      justify-content: space-around;
      width: 800px;
      margin: 0 auto; }
      main article .sections_wrap .sections .room .room_type {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        width: 150px;
        height: 150px;
        background-color: #ecf0f1;
        cursor: pointer; }
        main article .sections_wrap .sections .room .room_type.active {
          color: white;
          background-color: #0c4da2; }
        main article .sections_wrap .sections .room .room_type:active {
          transform: scale(0.95); }
        main article .sections_wrap .sections .room .room_type p {
          margin: 0;
          font-weight: bold; }
        main article .sections_wrap .sections .room .room_type i {
          font-size: 3rem; }
    main article .sections_wrap .sections .buttons {
      padding-top: 50px;
      text-align: right; }
      main article .sections_wrap .sections .buttons button {
        padding: 10px 20px;
        background-color: #0c4da2;
        border: 0;
        outline: 0;
        color: white;
        cursor: pointer; }
        main article .sections_wrap .sections .buttons button + button {
          margin-left: 15px; }
        main article .sections_wrap .sections .buttons button:active {
          transform: scale(0.95); }