:root{
	--body-background-color: #f5f6f7;
	--font-color: #4e4e4e;
	--border-gray-color : #dadada;
}
*{
	margin:0;
	padding:0;
}

.login-input-section-wrap{
	padding-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	top:20%;
}
.logo-wrap{
	position: relative;
    align-items: center;
    top: 18%;
    padding-top: 55px;
    display: flex;
    flex-direction: column;
}
.login-input-wrap{
	width: 465px;
	height :48px;
	border: solid 1px var(	--border-gray-color );
	background: white;
}
.password-wrap{
	margin-top: 13px;
}
.login-input-wrap input{
	border: none;
	width:430px;
	margin-top: 10px;
	font-size: 14px;
	margin-left: 10px;
	height:30px;
}
.login-button-wrap {
	padding-top: 13px;

}
.login-button-wrap button{
	width: 465px;
	height :48px;
	font-size: 18px;
	background: #0c4da2;
	color: white;
	cursor: pointer;
	border: solid 1px var(--naver-green-border-color);
}