.section-list{
	position: relative;
	
}
#select-title{
	position: relative;
	text-align: center;
}
#title{
	position: relative;
	top: 40px;
	text-align: center;
}
.section-mine{
	position: relative;
	top:25px;
	margin-top: 20px;
}
#mine-list{
	display: flex;
	width: 1100px; 
	height: 200px;
	position: relative;
	left:3%;
	overflow-y: scroll;
}
#register-list{
	display: flex;
	width: 1100px; 
	height: 200px;
	position: relative;
	left:3%;
	overflow-y: scroll;
}
#select-menu{
	display: flex;
	position: relative;
	justify-content: flex-end;
}
#title{
	position: relative;
	margin-bottom: 10px;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse; }
table tr {
    height: 50px;
    line-height: 50px; }
table thead {
    font-weight: bold;
    background-color: #ecf0f1; }
table tbody tr {
    cursor: pointer;
    transition: all ease 0.5s; }
table tbody tr:hover {
    transform: translateY(-2px); }
table tbody tr:nth-child(2n) {
    background-color: #f9fafb; }
