section .controls {
  font-size: 1.2rem;
  display: flex;
  margin-bottom: 20px; }
  section .controls label {
    width: 20%;
    padding: 5px 0; }
    section .controls label select {
      margin-right: 20px;
      padding: 10px 20px;
      outline: none; }
  section .controls button {
    padding: 10px 20px;
    background-color: #0c4da2;
    border: 0;
    outline: 0;
    color: white;
    cursor: pointer; }
    section .controls button + button {
      margin-left: 15px; }
    section .controls button:active {
      transform: scale(0.95); }

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 30px; }
  table tr {
    height: 50px;
    line-height: 50px; }
    table tr td {
      text-align: center; }
  table thead {
    font-weight: bold;
    background-color: #ecf0f1; }
  table tbody tr:nth-child(2n) {
    background-color: #f9fafb; }
  table tfoot {
    font-weight: bold; }
