article section .view_box {
  display: grid;
  gap: 35px;
  grid-template-columns: 0.6fr 0.6fr 1fr; }
  article section .view_box img {
    width: 100%;
    object-fit: contain;
    object-position: center; }
  article section .view_box p,
  article section .view_box label {
    display: flex;
    padding: 5px 0;
    margin: 16px 0; }
    article section .view_box p span,
    article section .view_box p input,
    article section .view_box label span,
    article section .view_box label input {
      display: block;
      margin-left: auto; }
  article section .view_box input {
    outline: none;
    font-family: inherit;
    width: 70%; }

article section .buttons {
  text-align: right; }

  button + button {
    margin-left: 15px; }
  button:active {
    transform: scale(0.95); }
